<h1>Hey, <%= current_user.name %>!</h1>



<%= link_to "Create Routine", new_routine_path %>

<h3>List of Routines</h3>
<% @routines.each do |routine| %>
  <%= link_to routine.name, routine %> <br> <br>
<% end %>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
