<h1>Welcome to Flatiron Fitness, Rails Edition!</h1>
<div id="home-page-links">
  <%= link_to "Sign up", new_user_registration_path, id: "signup-link" %>
  <%= link_to "Log in", new_user_session_path, id: "regular-login-link" %>
</div>
