<h1>Welcome to Flatiron Fitness, Rails Edition!</h1>
<div id="home_page_links">
  <%= link_to "Sign up", new_user_registration_path, id: "signup_link" %>
  <%= link_to "Log in", new_user_session_path, id: "regular_login_link" %>
</div>
