/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar {
   background-color: lightsalmon;
   padding: 1em;
 }

 .main-content {
   background-color: rgba(255, 229, 180, 0.45);
   border-radius: 0.5em;
   padding: 0.5em;
   margin: auto;
 }


.error {
   color: red;
 }

 .field_with_errors .error-field {
   border-style: solid;
   border-width: 2.5px;
   border-color: red;
   padding: 0;
 }

 #home-page-links {
   display: flex;
   flex-direction: row;
   padding: 1em;
 }

 #signup-link {
   background-color: #75B74F;
   color: #fff;
   padding: 0.5em;
   border-radius: 2.5px;
   text-decoration: none;
   margin-right: 0.5em;
   opacity: 0.7;
   transition: 0.3s;
 }

 #signup-link:hover {
   opacity: 1;
 }

 #regular-login-link {
   background-color: #7dbbe6;
   color: #fff;
   padding: 0.5em;
   border-radius: 2.5px;
   text-decoration: none;
   margin-right: 0.5em;
   opacity: 0.7;
   transition: 0.3s;
 }

 #regular-login-link:hover {
   opacity: 1;
 }

 .signup-row {
   display: flex;
   flex-direction: row;
 }

 .field {
   margin: 0.25em;
 }


#signout_link {
  border: 1px solid black;
  background-color: #d11a2a;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  padding: 0.5em;
  text-decoration: none;
}

#login-links {
  display: flex;
  flex-direction: column;
  width: 10em;
}

#facebook-btn {
  background-color: #3b5998;
  color: #fff;
  padding: 0.4em;
  border-radius: 2.5px;
  text-decoration: none;
}

 #google-btn {
   background-color: #db3236;
   color: #fff;
   padding: 0.4em;
   border-radius: 2.5px;
   text-decoration: none;
 }

 #github-btn {
   background-color: #7dbbe6;
   color: #fff;
   padding: 0.4em;
   border-radius: 2.5px;
   text-decoration: none;
 }

 .routine-container {
   text-align: center;
 }

 .routine-info {
   background-color: skyblue;
   border: 1px solid black;
   border-radius: 0.5em;
   margin: auto;
   padding-bottom: 0.5em;
   width: 70%;
 }

 #routine-cards {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 10em;
   margin: auto;
 }

 .routine-card {
   background-color: #3a3a3a;
   border: 2px solid black;
   border-radius: 5px;
   color: #ffb101;
   padding: 1em;
   text-decoration: none;
   opacity: 0.7;
   transition: 0.3s;
 }

 .routine-card:hover {
   opacity: 1;
 }

 .routine-image {
   border: 1px solid black;
   border-radius: 0.5em;
   padding-top: 0.25em;
   width: 70%;
 }


 #exercise-cards {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 10em;
   margin: auto;
 }

 .exercise-card {
   background-color: #ffb101;
   border: 2px solid black;
   border-radius: 5px;
   color: #3a3a3a;
   margin-bottom: 0.5em;
   padding: 1em;
   text-decoration: none;
   opacity: 0.8;
   transition: 0.3s;
 }

 .exercise-card:hover {
   opacity: 1;
 }

 .exercise-card-image {
   width: 100%;
 }

 .exercise-container {
   background-color: lightblue;
   border-radius: 0.25em;
   display: flex;
   justify-content: space-around;
 }

 .exercise-image {
   border-radius: 0.5em;
   padding-top: 0.25em;
   width: 50%;
 }


.crud-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding-top: 1em;
  width: 10em;
}

.edit-link {
  border-radius: 3px;
  border: 2px solid black;
  font-weight: bold;
  color: #fff;
  background-color: #ff6700;
  padding: 0.5em;
  text-decoration: none;
  opacity: .9;
  transition: 0.3s;
}

.edit-link:hover {
  opacity: 1;
}

.delete-link {
  border-radius: 3px;
  border: 2px solid black;
  font-weight: bold;
  color: #fff;
  background-color: #d11a2a;
  padding: 0.5em;
  text-decoration: none;
  opacity: 0.65;
  transition: 0.3s;
}

.delete-link:hover {
  opacity: 1;
}


.submit-link {
  background-color: #75B74F;
  border: 1px solid black;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin: 1em;
  padding: 0.5em;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

.submit-link:hover {
  opacity: 1;
}
